.timerWrap {
  display: inline-block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(199,199,199,1);
  font-size: 40px;
  text-align: center;
  color: #3e50c7;
  line-height: 250px;
}